

body {
  margin : 0;
  font-size : 16px;
  background-color: rgb(128, 128, 128);
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

.custom-box {
  max-width: 700px;
  background-color:  whitesmoke;
  margin : 40px auto;
  padding: 30px ;
  border-radius: 10px;
  animation: fadeInRight 1s ease ;
}
@keyframes fadeInRight{
  0%{
    transform: translateX(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
  }
};
.custom-box::before,
.custom-box::after{
  content:'';
  clear: both;
  display: table;   /*added after float to return back to normal (read doc) */
}
/* to hide home custom box */
 .hide {
  display:none
}

.home-box h1{
  color: darkcyan;
  padding-bottom: 10px;
  font-family: 'Oleo Script', cursive;
  font-size: 40px;
  font-weight: 400;

}

.home-box img {
  height: 50%;
  width : 50%;  
  margin-left: 20%;
  margin-bottom: 20px;
}
.home-box h3, #message {
  font-size: 25px;
  color: rgb(56, 75, 22);
  margin-bottom: 15px;
  line-height: 25px ;
  font-weight: 500;
  font-family: 'Abril Fatface', cursive;
}

#message {
  font-size: 25px;
  color: rgb(212, 112, 30);
  margin-bottom: 15px;
  margin-left: 50px;
  line-height: 25px ;
  font-weight: 500;
  font-family: 'Abril Fatface', cursive;
}
.home-box p {
  font-size: 20px;
  color:#076158;
  margin-bottom: 10px;
  line-height: 22px ;
  font-weight: 100;
  font-family: 'Abril Fatface', cursive;
}

.home-box p span { 
  font-weight: 500;
}

.home-box .btn {
  margin-top: 20px;
}

.btn {
  padding: 15px 45px;
  background-color: #009688;
  color: whitesmoke;
  border: none;
  border-radius : 10px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
}

/* .quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn,
.quiz-box .answers-indicator {
   width: 100% ;
  float: left; 
}  */

.quiz-box .question-number{
  font-size: 18px;
  color: #009688;
  font-weight: 600;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  line-height: 25px;
}
.quiz-box .question-text{
  font-size: 22px;
  color: #000000;
  font-weight: 400;
  padding: 20px 0;
  margin: 0;
  line-height: 28px;
}
/* .quiz-box .option-container{} */
.quiz-box .option-container .option{
  background-color: #cccccc;
  padding: 13px 15px;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  text-transform: capitalize;
  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
  /* next two lines style for correct option */
  position: relative;
  overflow: hidden;
}
/* for the animation */
@keyframes fadeIn{
   0%{
     opacity:0;
   }
   100% {
     opacity :1;
   }
};

/* to turn corrrect option green */

.quiz-box .option-container .option.correct{
  color: #ffffff;
}
.quiz-box .option-container .option.correct::before{
  content:'';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(11, 161, 11) ;
  z-index: -1; /*so the green color will not cover the answer */
  animation: slideInLeft .2s ease forwards;
}


.quiz-box .option-container .option.correct{
  color: #ffffff;
}

/* to turn wrong option red */
.quiz-box .option-container .option.wrong::before{
  content:'';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(197, 15, 15) ;
  z-index: -1; /*so the red color will not cover the answer */
  animation: slideInLeft .2s ease forwards;
}

@keyframes slideInLeft {
  0%{
    transform : translateX(-100%)
  }
  100%{
    transform: translateX(0%);
  }
}
/* for already answered question */
.quiz-box .option-container .option.already-answered {
 pointer-events: none;
}

.quiz-box .option-container .option.wrong{
  color: #ffffff;
}

.quiz-box .btn {
  margin: 15px 0;
}
.quiz-box .answers-indicator div{
  border-top: 1px solid #cccccc;
}
.quiz-box .answers-indicator div{
  height: 40px;
  width: 40px;
  display: inline-block;
  background-color: #cccccc;
  border-radius: 50%;
  margin-right: 3px;
  margin-top: 15px;
}

/* to style answerindicator after clicking */
.quiz-box .answers-indicator div.correct{
 background-color:rgb(11, 161, 11) ;
 background-size: 50%;
 background-repeat: no-repeat;
 background-position: center;
};
.quiz-box .answers-indicator div.wrong{
  background-color: rgb(197, 15, 15) ;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
 };


/* styling result box */

.result-box {
  text-align: center;
}
.result-box.hide  {
  display: none;
}

.result-box h1{
  font-size: 36px;
  line-height: 42px;
  color: #009688;
}
.result-box table{
  width: 100%;
  border-collapse: collapse;
  margin: 30px;
}
.result-box table td{
  border: 1px solid #cccccc;
  padding: 8px 15px;
  font-weight: 500;
  color: #000000;
  width: 50%;
  text-align: left;
  font-size: 18px;

}
.result-box .btn{
  margin-right: 20px;
}

@media (max-width: 767px){
 .result-box .btn{
   margin-bottom: 15px;
 }
 body {
   padding :15px;
 }
}